{% load staticfiles %}

<!DOCTYPE HTML>
<html>
  <head>
    <title>Dr. Yang</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{% static 'yang/css/skel.css' %}" />
    <link rel="stylesheet" href="{% static 'yang/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'yang/css/style-xlarge.css' %}" />
  </head>
  <body>

    <!-- Header -->
      <header id="header">
        <h1><strong><a href="{% url 'index' %}">DR</a></strong> Yang</h1>
        <nav id="nav">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'questionnaire' %}">The Questionnaire</a></li>
            <li><a href="{% url 'assess' %}">Assess</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
          </ul>
        </nav>
      </header>

    <!-- Main -->
      <section id="three" class="wrapper style1">
        <div class="container">
          <header class="major special">
            <h2>DR Yang</h2>
            <p>The brains behind the world's leading heart health assessment system</p>
          </header>
          <div class="feature-grid">
            <div class="feature">
              <div class="image rounded"><img src="{% static 'yang/images/pic04.jpg' %}" alt="" style="height: 180px; width:180px; background-size: cover" /></div>
              <div class="content">
                <header>
                  <h4>Lucelle Bureros</h4>
                  <p>Data Scientist</p>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
              </div>
            </div>
            <div class="feature">
              <div class="image rounded"><img src="{% static 'yang/images/pic05.jpg' %}" alt=""style="height: 180px; width:180px; background-size: cover"/></div>
              <div class="content">
                <header>
                  <h4>Zarah Lou Tabaranza</h4>
                  <p>Data Scientist</p>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
              </div>
            </div>
            <div class="feature">
              <div class="image rounded"><img src="{% static 'yang/images/pic06.jpg' %}" alt="" style="height: 180px; width:180px; background-size: cover" /></div>
              <div class="content">
                <header>
                  <h4>Jan Aubrey Tampos</h4>
                  <p>Data Scientist</p>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
              </div>
            </div>
            <div class="feature">
              <div class="image rounded"><img src="{% static 'yang/images/pic07.jpg' %}" alt="" style="height: 180px; width:180px; background-size: cover" /></div>
              <div class="content">
                <header>
                  <h4>Jonathan Tumulak</h4>
                  <p>Data Scientist</p>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
              </div>
            </div>
            <div class="feature">
              <div class="image rounded"><img src="{% static 'yang/images/pic08.jpg' %}" alt="" style="height: 180px; width:180px; background-size: contain" /></div>
              <div class="content">
                <header>
                  <h4>Dione Marcian Uy</h4>
                  <p>Data Scientist</p>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

    <!-- Footer -->
      <footer id="footer">
        <div class="container">
          <ul class="icons">
            <li><a href="#" class="icon fa-facebook"></a></li>
            <li><a href="#" class="icon fa-twitter"></a></li>
            <li><a href="#" class="icon fa-instagram"></a></li>
          </ul>
          <ul class="copyright">
            <li>&copy; Untitled</li>
            <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
          </ul>
        </div>
      </footer>

  </body>

  <script src="{% static 'yang/js/jquery.min.js' %}"></script>
  <script src="{% static 'yang/js/skel.min.js' %}"></script>
  <script src="{% static 'yang/js/skel-layers.min.js' %}"></script>
  <script src="{% static 'yang/js/init.js' %}"></script>
</html>