{% load staticfiles %}

<!DOCTYPE HTML>
<html>
  <head>
    <title>Dr. Yang</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{% static 'yang/css/skel.css' %}" />
    <link rel="stylesheet" href="{% static 'yang/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'yang/css/style-xlarge.css' %}" />
  </head>
  <body class="landing">

    <!-- Header -->
      <header id="header" class="alt">
        <h1><strong><a href="{% url 'index' %}">DR</a></strong> Yang</h1>
        <nav id="nav">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'questionnaire' %}">The Questionnaire</a></li>
            <li><a href="{% url 'assess' %}">Assess</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
          </ul>
        </nav>
      </header>

    <!-- Banner -->
      <section id="banner">
        <h2>DR Yang</h2>
        <p>Your personal heart health assistant</p>
        <ul class="actions">
          <li><a href="{% url 'assess' %}" class="button special big">Assess Now</a></li>
        </ul>
      </section>

      <!-- One -->
        <section id="one" class="wrapper style1">
          <div class="container 75%">
            <div class="row 200%">
              <div class="6u 12u$(medium)">
                <header class="major">
                  <h2>DR Yang</h2>
                  <p>What's it for?</p>
                </header>
              </div>
              <div class="6u$ 12u$(medium)">
                <p>DR Yang is a web application powered by machine learning algorithms like SVM and Naive Bayes. DR Yang is a heart problem predictor that takes in a patient's data and tries to classify whether the patient has a presence of heart problem.</p>
                <p>This application is driven by the passion to help cardiologists in making smarter and faster diagnosis on their patients. With DR Yang, doctors can reassure their patients that their diagnoses are supported by a smart application fueled by big data from all over the world.</p>
              </div>
            </div>
          </div>
        </section>

      <!-- Two -->
        <section id="two" class="wrapper style2 special">
          <div class="container">
            <header class="major">
              <h2>World-class Service</h2>
              <p>Popular health institutions are now using DR Yang</p>
            </header>
            <div class="row 150%">
              <div class="6u 12u$(xsmall)">
                <div class="image fit captioned">
                  <img src="{% static 'yang/images/pic02.jpg' %}" alt="" />
                  <h3>Mayo Clinic</h3>
                </div>
              </div>
              <div class="6u$ 12u$(xsmall)">
                <div class="image fit captioned">
                  <img src="{% static 'yang/images/pic03.jpg' %}" alt="" />
                  <h3>Cleveland Clinic</h3>
                </div>
              </div>
            </div>
          </div>
        </section>

    <!-- Footer -->
      <footer id="footer">
        <div class="container">
          <ul class="icons">
            <li><a href="#" class="icon fa-facebook"></a></li>
            <li><a href="#" class="icon fa-twitter"></a></li>
            <li><a href="#" class="icon fa-instagram"></a></li>
          </ul>
          <ul class="copyright">
            <li>&copy; Untitled</li>
            <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
          </ul>
        </div>
      </footer>

  </body>

  <script src="{% static 'yang/js/jquery.min.js' %}"></script>
  <script src="{% static 'yang/js/skel.min.js' %}"></script>
  <script src="{% static 'yang/js/skel-layers.min.js' %}"></script>
  <script src="{% static 'yang/js/init.js' %}"></script>
</html>