{% load staticfiles %}

<!DOCTYPE HTML>
<html>
  <head>
    <title>Dr. Yang</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{% static 'yang/css/skel.css' %}" />
    <link rel="stylesheet" href="{% static 'yang/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'yang/css/style-xlarge.css' %}" />
  </head>
  <body>

    <!-- Header -->
      <header id="header">
        <h1><strong><a href="{% url 'index' %}">DR</a></strong> Yang</h1>
        <nav id="nav">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'questionnaire' %}">The Questionnaire</a></li>
            <li><a href="{% url 'assess' %}">Assess</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
          </ul>
        </nav>
      </header>

    <!-- Main -->
      <section id="main" class="wrapper">
        <div class="container">

          <header class="major special">
            <h2>Heart Health Assessment</h2>
            <p>Assessing the risk of heart problems using 13 variables</p>
          </header>
        </div>
      </section>
      <section id="one" class="wrapper style1">
        <div class="container 75%">
          <div class="row 200%">
            <div class="6u 12u$(medium)">
              <header class="major">
                <h2>Age</h2>
                <p>How old is the patient?</p>
              </header>
            </div>
            <div class="6u$ 12u$(medium)">
              <p>By the time you're middle-aged or older, enough plaque has built up to cause signs or symptoms. In men, the risk for heart disease increases after age 45. In women, the risk for heart disease increases after age 55.</p>
            </div>
          </div>
        </div>
      </section>
      <section id="one" class="wrapper style1">
        <div class="container 75%">
          <div class="row 200%">
            <div class="6u 12u$(medium)">
              <header class="major">
                <h2>Sex</h2>
                <p>What is the patient's sex?</p>
              </header>
            </div>
            <div class="6u$ 12u$(medium)">
              <p>Women generally have the same heart disease risk factors as men. However, some risk factors may affect women differently than men.Also, some risk factors, such as birth control pills and menopause, only affect women.</p>
            </div>
          </div>
        </div>
      </section>
      <section id="one" class="wrapper style1">
        <div class="container 75%">
          <div class="row 200%">
            <div class="6u 12u$(medium)">
              <header class="major">
                <h2>Chest Pain</h2>
                <p>What type of chest pain is the patient experiencing?</p>
              </header>
            </div>
            <div class="6u$ 12u$(medium)">
              <p>Is chest pain substernal? </p>
              <p>Is it precipitated/caused by exertion?</p>
              <p>Is it relieved within 10 min by rest or nitroglycerin? </p>

              <p>1 - typical angina - answers yes to all 3 questions</p>
              <p>2 - atypical angina - answers yes 2 of the 3 questions</p>
              <p>3 - nonanginal pain - answers yes 1 of the 3 questions</p>
              <p>4 - asymptomatic - no complaints of discomfort above the diagram</p>
            </div>
          </div>
        </div>
      </section>
      <section id="one" class="wrapper style1">
        <div class="container 75%">
          <div class="row 200%">
            <div class="6u 12u$(medium)">
              <header class="major">
                <h2>Resting Blood Pressure</h2>
                <p>How much is the person's resting blood pressure (in mmHg)?</p>
              </header>
            </div>
            <div class="6u$ 12u$(medium)">
              <p>Ideally, we should all have a blood pressure below 120 over 80 (120/80). This is the ideal blood pressure for people wishing to have good health. At this level, we have a much lower risk of heart disease or stroke. If your blood pressure is above 120/80mmHg, you will need to lower it.</p>
            </div>
          </div>
        </div>
      </section>
      <section id="one" class="wrapper style1">
        <div class="container 75%">
          <div class="row 200%">
            <div class="6u 12u$(medium)">
              <header class="major">
                <h2>Cholesterol Level</h2>
                <p>How much is the patient's serum cholesteral (in mg/dl)?</p>
              </header>
            </div>
            <div class="6u$ 12u$(medium)">
              <p>Your total serum cholesterol consists of high-density lipoprotein, or HDL cholesterol; low-density lipoprotein, or LDL cholesterol; and triglycerides. Levels are reported in milligrams per deciliter of blood, or mg/dL. The American Heart Association defines normal total cholesterol as less than 200 mg/dL.</p>
            </div>
          </div>
        </div>
      </section>
      <section id="one" class="wrapper style1">
        <div class="container 75%">
          <div class="row 200%">
            <div class="6u 12u$(medium)">
              <header class="major">
                <h2>Blood Sugar Level</h2>
                <p>Does the patient have a fasting blood sugar > 120 mg/dl?</p>
              </header>
            </div>
            <div class="6u$ 12u$(medium)">
              <p>Fasting, as the name suggests, means refraining from eating of drinking any liquids other than water for eight hours. A fasting blood sugar level less than 100 mg/dL (5.6 mmol/L) is normal. A fasting blood sugar level from 100 to 125 mg/dL (5.6 to 6.9 mmol/L) is considered prediabetes. If it's 126 mg/dL (7 mmol/L) or higher on two separate tests, you have diabetes.</p>
            </div>
          </div>
        </div>
      </section>
      <section id="one" class="wrapper style1">
        <div class="container 75%">
          <div class="row 200%">
            <div class="6u 12u$(medium)">
              <header class="major">
                <h2>Rest ECG</h2>
                <p>What is the patient's resting electrocardiographic results?</p>
              </header>
            </div>
            <div class="6u$ 12u$(medium)">
              <p>The electrocardiogram is a recording of the electrical activity of the heart as it undergoes excitation (depolarization) and recovery (polarization) to initiate each beat of the heart. 
              </p>
              <p>
              The normal pattern of the ECG allows analysis to determine whether there is any abnormality in any particular patient's ECG.
              The activity is classically represented by labeling the initial activity a P wave and in succession QRS, T and U waves. 
              ST-segment elevation occurs when the injured muscle is located between normal muscle and the corresponding precordial electrode.
              Clues to left atrial hypertrophy include (1) P-wave duration greater than 0.11 s and notched P wave with an interpeak interval in excess of 0.04 s and (2) negative phase of P in V1 longer than 0.04 s and greater than 1 mm in lead VI.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section id="one" class="wrapper style1">
        <div class="container 75%">
          <div class="row 200%">
            <div class="6u 12u$(medium)">
              <header class="major">
                <h2>Maximum Heart Rate</h2>
                <p>How much is the patient's maximum achieved heart rate?</p>
              </header>
            </div>
            <div class="6u$ 12u$(medium)">
              <p>The only way to determine your cycling maximum heart rate and maximum minute power is by using a properly constructed cycling test. </p>
              <p>However such a test requires considerable motivation, physical stress and discomfort and it is inadvisable without medical clearance and supervision, particularly for individuals predisposed to coronary heart disease. We therefore suggest that people consider themselves “average” and use age predicted maximum heart rates despite the inaccuracy of such methods (as much as +/- 20 bpm).
              </p>
            </div>
          </div>
        </div>
      </section>
      <section id="one" class="wrapper style1">
        <div class="container 75%">
          <div class="row 200%">
            <div class="6u 12u$(medium)">
              <header class="major">
                <h2>Exercise-induced Angina</h2>
                <p>Does that patient experience exercise-induced angina?</p>
              </header>
            </div>
            <div class="6u$ 12u$(medium)">
              <p>Do you get chest discomfort with activity? This is known as exercise induced angina. Angina is generally caused from not getting enough blood through the arteries to supply the walls of the heart with enough blood flow to adequately pump.</p>
            </div>
          </div>
        </div>
      </section>
      <section id="one" class="wrapper style1">
        <div class="container 75%">
          <div class="row 200%">
            <div class="6u 12u$(medium)">
              <header class="major">
                <h2>ST depression</h2>
                <p>What is the patient's ST depression induced by exercise?</p>
              </header>
            </div>
            <div class="6u$ 12u$(medium)">
              <p>ST segment depression may be determined by measuring the vertical distance between the patient's trace and the isoelectric line at a location 2[3]-3 millimeters from the QRS complex. It is significant if it is more than 1 mm in V5-V6, or 1.5 mm in AVF or III.</p>
            </div>
          </div>
        </div>
      </section>
      <section id="one" class="wrapper style1">
        <div class="container 75%">
          <div class="row 200%">
            <div class="6u 12u$(medium)">
              <header class="major">
                <h2>Slope</h2>
                <p>What is the slope of the peak exercise ST segment?</p>
              </header>
            </div>
            <div class="6u$ 12u$(medium)">
              <p>Value 1: upsloping </p>
              <p>Value 2: flat </p>
              <p>Value 3: downsloping </p>
            </div>
          </div>
        </div>
      </section>
      <section id="one" class="wrapper style1">
        <div class="container 75%">
          <div class="row 200%">
            <div class="6u 12u$(medium)">
              <header class="major">
                <h2>Major Vessels</h2>
                <p>How many major vessels does the patient have?</p>
              </header>
            </div>
            <div class="6u$ 12u$(medium)">
              <p>Fluoroscopy is a specific imaging technique commonly used by physicians to obtain real-time moving images of the internal structures of a patient through the use of a fluoroscope. Fluoroscopy is particularly useful for guiding a variety of diagnostic and interventional medical procedures like Barium enema, Barium Meal Follow Through (BMFT), Intravenous Pyelography (IVP), Hysterosalpingography (HSG), various orthopaedic surgeries, angiography of vessels etc.</p>
            </div>
          </div>
        </div>
      </section>
      <section id="one" class="wrapper style1">
        <div class="container 75%">
          <div class="row 200%">
            <div class="6u 12u$(medium)">
              <header class="major">
                <h2>Heart Defect</h2>
                <p>Does the patient have a known heart defect?</p>
              </header>
            </div>
            <div class="6u$ 12u$(medium)">
              <p>3 = normal; Cold spots on the scan, where no thallium shows up, indicate areas of the heart that are not getting an adequate supply of blood.</p>
              <p>6 = fixed defect; Cold spots appearing both at rest and during exercise may indicate areas where the heart tissue has been damaged.</p>
              <p> 7 = reversable defect; However, 'reversible' cold spots appearing only during exercise usually indicate some blockage of the coronary arteries.</p>
            </div>
          </div>
        </div>
      </section>
    <!-- Footer -->
      <footer id="footer">
        <div class="container">
          <ul class="icons">
            <li><a href="#" class="icon fa-facebook"></a></li>
            <li><a href="#" class="icon fa-twitter"></a></li>
            <li><a href="#" class="icon fa-instagram"></a></li>
          </ul>
          <ul class="copyright">
            <li>&copy; Untitled</li>
            <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
          </ul>
        </div>
      </footer>

  </body>

  <script src="{% static 'yang/js/jquery.min.js' %}"></script>
  <script src="{% static 'yang/js/skel.min.js' %}"></script>
  <script src="{% static 'yang/js/skel-layers.min.js' %}"></script>
  <script src="{% static 'yang/js/init.js' %}"></script>
</html>